<div class="ml-6 h-full">
  
  <div class="mb-10 ml-2 mt-10">
    <a [routerLink]="['/dashboard']" class="text-xl font-bold text-black-600">
      YOURLOGO
    </a>
  </div>
  
  <nav>
    <ul>
      <li class="mb-2">
        <a [routerLink]="['/dashboard']"
           routerLinkActive="text-[#0794FF] font-semibold active-link"
           class="flex items-center p-2 rounded-lg text-[#0794FF] hover:bg-gray-100 transition duration-150 ease-in-out relative">
          <div class="absolute right-0 top-0 h-full w-1 bg-[#0794FF] rounded-lg indicator-bar"></div>
          <mat-icon class="w-6 h-6 mr-3 flex-shrink-0">dashboard</mat-icon>
          Dashboard
        </a>
      </li>
      <li class="mb-2">
        <a [routerLink]="['/objectives']"
           routerLinkActive="text-[#0794FF] font-semibold active-link"
           class="flex items-center p-2 rounded-lg text-[#0794FF] hover:bg-gray-100 transition duration-150 ease-in-out relative">
          <div class="absolute right-0 top-0 h-full w-1 bg-[#0794FF] rounded-lg indicator-bar"></div>
          <mat-icon class="w-6 h-6 mr-3 flex-shrink-0">bar_chart</mat-icon>
          Objectives
        </a>
      </li>
      <li class="mb-2">
        <a [routerLink]="['/documents']"
           routerLinkActive="text-[#0794FF] font-semibold active-link"
           class="flex items-center p-2 rounded-lg text-[#0794FF] hover:bg-gray-100 transition duration-150 ease-in-out relative">
          <div class="absolute right-0 top-0 h-full w-1 bg-[#0794FF] rounded-lg indicator-bar"></div>
          <mat-icon class="w-6 h-6 mr-3 flex-shrink-0">description</mat-icon>
          Documents
        </a>
      </li>
      <li class="mb-2">
        <a [routerLink]="['/photos']"
           routerLinkActive="text-[#0794FF] font-semibold active-link"
           class="flex items-center p-2 rounded-lg text-[#0794FF] hover:bg-gray-100 transition duration-150 ease-in-out relative">
          <div class="absolute right-0 top-0 h-full w-1 bg-[#0794FF] rounded-lg indicator-bar"></div>
          <mat-icon class="w-6 h-6 mr-3 flex-shrink-0">image</mat-icon>
          Photos
        </a>
      </li>
      <li class="mb-10">
        <a [routerLink]="['/hierachy']"
           routerLinkActive="text-[#0794FF] font-semibold active-link"
           class="flex items-center p-2 rounded-lg text-[#0794FF] hover:bg-gray-100 transition duration-150 ease-in-out relative">
          <div class="absolute right-0 top-0 h-full w-1 bg-[#0794FF] rounded-lg indicator-bar"></div>
          <mat-icon class="w-6 h-6 mr-3 flex-shrink-0">account_tree</mat-icon>
          Hierarchy
        </a>
      </li>
      <li class="mb-2">
        <a [routerLink]="['/message']"
           routerLinkActive="text-[#0794FF] font-semibold active-link"
           class="flex items-center p-2 rounded-lg text-[#0794FF] hover:bg-gray-100 transition duration-150 ease-in-out relative">
          <div class="absolute right-0 top-0 h-full w-1 bg-[#0794FF] rounded-lg indicator-bar"></div>
          <mat-icon class="w-6 h-6 mr-3 flex-shrink-0">message</mat-icon>
          Message
        </a>
      </li>
      <li class="mb-2">
        <a [routerLink]="['/help']"
           routerLinkActive="text-[#0794FF] font-semibold active-link"
           class="flex items-center p-2 rounded-lg text-[#0794FF] hover:bg-gray-100 transition duration-150 ease-in-out relative">
          <div class="absolute right-0 top-0 h-full w-1 bg-[#0794FF] rounded-lg indicator-bar"></div>
          <mat-icon class="w-6 h-6 mr-3 flex-shrink-0">help_outline</mat-icon>
          Help
        </a>
      </li>
      <li class="mb-2">
        <a [routerLink]="['/setting']"
           routerLinkActive="text-[#0794FF] font-semibold active-link"
           class="flex items-center p-2 rounded-lg text-[#0794FF] hover:bg-gray-100 transition duration-150 ease-in-out relative">
          <div class="absolute right-0 top-0 h-full w-1 bg-[#0794FF] rounded-lg indicator-bar"></div>
          <mat-icon class="w-6 h-6 mr-3 flex-shrink-0">settings</mat-icon>
          Setting
        </a>
      </li>
    </ul>
  </nav>
</div>